pipeline/11_Logic_Apps_Email_Notification.json
{
	"name": "11_Logic_Apps_Email_Notification",
	"properties": {
		"activities": [
			{
				"name": "Web",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetStatus",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.URI",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"value": "{\n    \"message\" : \"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\",\n    \"status\" : \"@{variables('Status')}\",\n    \"error\" : \"@{variables('ErrorMessage')}\"\n   }",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ExecuteAnotherPipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CopyFromBlobToDataLake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SetErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteAnotherPipeline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@if(equals(empty(activity('ExecuteAnotherPipeline').error?.message), true), 'No errors', activity('ExecuteAnotherPipeline').error.message)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ExecuteAnotherPipeline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Status",
					"value": {
						"value": "@if(equals(activity('ExecuteAnotherPipeline').Status,'Succeeded'), 'Succeeded', 'Failed')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetURLforEmail",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "URLforEmail",
					"value": {
						"value": "@activity('Web').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetURLforEmail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URLforEmail')",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"message\" : \"This is a message from your pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\",\n    \"status\" : \"@{variables('Status')}\",\n    \"error\" : \"@{variables('ErrorMessage')}\"\n   }",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"URI": {
				"type": "string",
				"defaultValue": "https://mentoring-key-vault-kka.vault.azure.net/secrets/LogicAppsEndpoint/1ff4d920c55c48c4a5d9bc8af7262755?api-version=7.0"
			},
			"receiver": {
				"type": "string",
				"defaultValue": "kateryna_aleksieieva@epam.com"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String",
				"defaultValue": "None"
			},
			"Status": {
				"type": "String"
			},
			"URLforEmail": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-05T12:50:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}