pipeline/11Improved.json
{
	"name": "11Improved",
	"properties": {
		"activities": [
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Web').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n    \"message\" : \"This is a message from your pipeline with run ID.\",\n    \"dataFactoryName\" : \"SomeDFHere\", \n    \"pipelineName\" : \"Adf\", \n    \"receiver\" : \"something here\",\n    \"status\" : \"Failed\",\n    \"error\" : \"Some error here\"\n   }",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.kvsecret",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"value": "{\n    \"message\" : \"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\",\n    \"status\" : \"@{variables('Status')}\",\n    \"error\" : \"@{variables('ErrorMessage')}\"\n   }",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": []
	}
}