pipeline/7OnlineBlobToAdls2.json
{
	"name": "7OnlineBlobToAdls2",
	"properties": {
		"activities": [
			{
				"name": "GetLastWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * \nfrom dbo.watermarktable\nwhere TableName = 'OnlineMentoring';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LocalWatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyOnlineData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@{activity('GetLastWatermark').output.firstRow.WatermarkValue}",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('StartTime')",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"path": "$['serviceName']"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"path": "$['serviceCode']"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"path": "$['movieId']"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"path": "$['userId']"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"path": "$['price']"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"path": "$['transaction']['id']"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"path": "$['transaction']['datetime']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "sourceOnlineJson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sinkOnlineJson",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyOnlineData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@addToTime(variables('StartTime'), -2, 'Hour')\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('GetLastWatermark').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LocalDbCinemaTickets",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-16T13:43:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}